In [1]:
import pandas as pd

In [7]:
data=pd.read_csv("data.txt",delim_whitespace=True,names=['Lasso accuracy','Lasso accuracy pairs','Group lasso accuaracy pairs'])

In [8]:
data

     Lasso accuracy  Lasso accuracy piars  Group lasso accuaracy pairs
0          0.666667              1.000000                     1.000000
1          0.529412              0.823529                     0.823529
2          0.333333              1.000000                     1.000000
3          0.614458              0.810345                     0.824561
4          0.222222              0.606061                     0.666667
..              ...                   ...                          ...
220        0.490566              0.918919                     0.818182
221        0.930000              0.981818                     0.981481
222        0.584906              0.918919                     0.916667
223        0.649123              0.842105                     0.837838
224        0.856209              0.977778                     0.977528

[225 rows x 3 columns]

In [11]:
data.sort_values(by=).plot()

AttributeError: 'DataFrame' object has no attribute 'sort'